body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    font-size: 13px;
}
* {
    box-sizing: border-box;
}
.container {
    width: 960px;
    margin: 0 auto;
}
.login-form {
    width: 300px;
    height: 200px;
    margin: 150px auto 0;
    border: 1px solid #ddd;
    background: #F7F6F6;
    padding: 10px;
}
.login-form label {
    width: 100px;
    display:inline-block;
    font-weight: bold;
}
.login-form input[type=text],.login-form input[type=password] {
    border: 1px solid #ddd;
    outline: none;
    height: 35px;
    line-height: 35px;
    padding-left: 5px;
    width: 170px;
    margin-bottom: 20px;

}
.login-form input[type=submit] {
    float: right;
    border: 1px solid #ddd;
    background: #0A68AB;
    color: #fff;
    padding: 10px 30px;
    border-radius: 7px;
    text-transform: uppercase;
    font-weight: bold;
}
.admin-navigation {
    background: #484848;
    padding-top: 5px;
    padding-bottom: 5px;
}

.admin-navigation h2 {
    color: #fff;
    margin: 0;
}
.admin-navigation a {
    float: right;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    background: #3C3C3C;
    height: 33px;
    line-height: 33px;
    margin-top: -5px;
    padding-left: 10px;
    padding-right: 10px;
}
.admin-navigation a:hover {
    background: #000;
}