body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    font-size: 13px;
}
* {
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
.clear {
    clear: both;
}
.text-center {
    text-align: center;
}
.f-left {
    float: left !important;
}
.f-right {
    float: right !important;
}
.container {
    width: 960px;
    margin: 0 auto;
}
.login-form {
    width: 300px;
    height: 200px;
    margin: 150px auto 0;
    border: 1px solid #ddd;
    background: #F7F6F6;
    padding: 10px;
}
.login-form label {
    width: 100px;
    display:inline-block;
    font-weight: bold;
}
.login-form input[type=text],.login-form input[type=password] {
    border: 1px solid #ddd;
    outline: none;
    height: 35px;
    line-height: 35px;
    padding-left: 5px;
    width: 170px;
    margin-bottom: 20px;
}
.login-form input[type=submit],.primary-btn {
    float: right;
    border: 1px solid #ddd;
    background: #0A68AB;
    color: #fff;
    padding: 10px 30px;
    border-radius: 7px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}
.primary-btn:hover {
    background: #0A5286;
}
.admin-navigation {
    background: #484848;
    padding-top: 5px;
    padding-bottom: 5px;
}
.admin-navigation h2 {
    color: #fff;
    margin: 0;
}
.admin-navigation a.logout-btn {
    float: right;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    background: #3C3C3C;
    height: 33px;
    line-height: 33px;
    margin-top: -5px;
    padding-left: 10px;
    padding-right: 10px;
}
.admin-navigation a.logout-btn:hover {
    background: #000;
}
h1.page-title {
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
}
.new-post-form {
    border: 1px solid #ddd;
    margin-top: 30px;
    padding: 20px;
}
.new-post-form label {
    display: block;
    margin-bottom:5px;
    font-weight: bold;
}
.new-post-form input[type=text],
.new-post-form input[type=password],
.new-post-form textarea {
    width: 100%;
    height: 35px;
    line-height: 35px;
    outline: none;
    border-radius: 8px;
    border: 1px solid #ddd;
    padding-left: 10px;
    font-size: 16px;
    margin-bottom: 20px;
}
.new-post-form select {
    width: 100%;
    height: 35px;
    line-height: 35px;
    outline: none;
    border-radius: 8px;
    border: 1px solid #ddd;
    padding-left: 10px;
    font-size: 16px;
    margin-bottom: 20px;  
}
.new-post-form textarea {
    height: 200px;
    line-height: 24px;
    padding-top: 5px;
    resize: none;
}
.new-post-form input[type=text]:focus,
.new-post-form input[type=password]:focus {
    border-color: #aaa;
}
table.all-posts-table td,table.all-posts-table th {
    border: 1px solid #ddd;
    padding: 8px;
}
table.all-posts-table {
    border-collapse: collapse;
    width: 100%;
}
.all-posts-table thead tr {
    background: #eee;
}
.all-posts-table thead th {
    border-bottom: 1px solid #aaa;
}
.all-posts-table tbody tr {
    background: #fff;
}
.all-posts-table tbody tr:nth-child(2n) {
    background: #f8f8f8;
}
.all-posts-table tbody tr:hover {
    background: #f0f0f0;
}
.secondary-navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.secondary-navigation ul li {
    display: inline;
    float: left;
}

.secondary-navigation {
    background: #928F8F;
}

.secondary-navigation a {
    color: #fff;
    line-height: 25px;
    padding-right: 10px;
    padding-left: 10px;
    display: block;
    text-align: center;
}

.secondary-navigation a:hover {
    background: #757474;
}

.secondary-navigation:after {
    content: '';
    display: block;
    clear: both;
}
.add-new-btn {
    float: right;
    display: block;
    padding: 5px 15px;
    background: #03A2FF;
    color: #fff;
}
.add-new-btn:hover {
    background: #0776B7;
}