body {
	margin: 0;
	font-family: 'Arial', sans-serif;
	font-size: 13px;
}
* {
	box-sizing: border-box;
}
.clear {
	clear: both;
}
img {
	max-width: 100%;
}
#wrapper {
	width: 960px;
	margin: 0 auto;
}
.header-row .logo {
	width:  15%;
	float: left;
	text-align: center;
}
.logo img {
	width: 90%;
}
.header-row .banner {
	width:  85%;
	float: left;
	text-align: right;
}
.header-navigation ul {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: right;
}
.header-navigation li {
	display: inline-block;
}
.header-navigation a {
	text-decoration: none;
	color: #333;
	font-weight: bold;
	font-size: 13px;
	display: inline-block;
	padding: 0 15px;
}
.header-navigation li:last-child a {
	padding-right: 0;
}
.header-navigation a:hover {
	text-decoration: underline;
}
.main-wrapper {
	border: 1px solid #ddd;
	margin-top: 5px;
	margin-bottom: 15px;
}
.left-sidebar {
	width: 20%;
	float: left;
}
.content-area {
	width: 80%;
	float: left;
}
.success-stories {
	display: block;
	width: 94%;
	margin: 3%;
	background: green;
	color: #fff;
	text-decoration: none;
	text-align: center;
	font-weight: bold;
	padding: 5px 3px;
}
.sidebar-nav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	border: 1px solid #ddd;
	border-left: none;
	border-top: none;
}
.sidebar-nav a {
	font-weight: bold;
	display: block;
	border-top: 1px solid #ddd;
	text-decoration: none;
	color: #333;
	height: 30px;
	line-height: 30px;
	padding-left: 30px;
	transition: all 0.3s;
}
.sidebar-nav a:hover {
	padding-left: 40px;
}
.sidebar-nav li.home-icon a {
	background: url(../images/icons/home-icon.png) no-repeat 5px center;
}

.content-area {
	padding: 5px;
}
h1.page-heading {
	background: #B005BB;
	border-bottom: 5px solid #8D0696;
	padding: 5px 10px;
	color: #fff;
}
.content {
	background: #FDE1FF;
	border: 1px solid #F995FF;
	border-radius: 4px;
	padding: 5px;
}
.content p {
	color: #5D3C5F;
}
.content-links-box {
    float: right;
    width: 300px;
    background: #fff;
    border: 1px solid #F995FF;
    padding: 5px;
}

.content-links-box h3 {
    margin: 0;
    font-size: 13px;
    color: #333;
}

.content-links-box ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.content-links-box li {
    display: inline-block;
    width: 50%;
    float: left;
}

.content-links-box a {
    color: #333;
    text-decoration: none;
}
.bottom-banners a {
	display: block;
	width: 31.99%;
	background: #fff;
	border: 1px solid #ddd;
	float: left;
	margin-right: 2%;
}
.bottom-banners a:last-child {
	margin-right: 0;
}
.contact-wrapper {
	border: 1px solid #ddd;
	margin-top: 10px;
}
.contact-wrapper h3 {
	margin: 0;
	font-weight: bold;
	font-size: 14px;
}
.contact-wrapper .contact-information {
	width: 70%;
	float: left;
	padding: 5px;
	border-right: 1px solid #ddd;
}
.contact-wrapper .social-links {
	width: 30%;
	float: left;
	padding: 5px;
	text-align: center;
}
.social-links h3 {
	margin-bottom: 10px;
}
.social-links a {
	display: inline-block;
	width: 42px;
	height: 42px;
	overflow: hidden;
	text-indent: -999px;
	transition: all 0.3s;
}
.fb-link {
	background: url(../images/social/fb_icon.gif);
}
.tw-link {
	background: url(../images/social/twitter_icon.gif);
}
.yt-link {
	background: url(../images/social/yt_icon.gif);
}
.social-links a:hover {
	background-position: 0 -43px;
}
.copyright-info {
	text-align: right;
	padding: 5px 0;
}
.copyright-info * {
	color: #aaa;
	text-decoration: none;
	font-size: 11px;
}
.copyright-info a {
	float: left;
}
.copyright-info a:hover {
	color: #333;
}