.accordion-wrapper {
    width: 600px;
    margin: 0 auto;
    border: 1px solid #ddd;
    padding: 20px;
}

.accordion-item {
    border: 1px solid #aaa;
    border-radius: 4px;
    margin-bottom: 15px;
    position: relative;
    overflow: hidden;
}

.accordion-item .accordion-content {
    border-top: 1px solid #aaa;
    padding: 10px;
    padding-left: 30px;
    display:none;
}

.accordion-item .accordion-heading {
    padding-left: 30px;
    line-height: 35px;
    position: relative;
    cursor: pointer;
    background: #ddd;
}
.accordion-heading:before {
    content: '';
    border: 5px solid transparent;
    border-left-color: #333;
    position: absolute;
    left: 13px;
    top: 50%;
    margin-top: -5px;
}

.accordion-item .accordion-heading:hover {
    background: #ccc;
}
.accordion-item .accordion-heading.accordion-opened {
    background-color: #fff; 
}
.accordion-heading.accordion-opened:before {
    border-color: transparent;
    border-top-color: #333;
    margin-top: 0;
}